<h2>Clienti</h2>

<button class="reload-btn" (click)="caricaClienti()">Ricarica</button>

@if (loading) {
  <p class="loading">Sto caricando i clienti dal server... ⏳</p>
} @else if (errore) {
  <p class="errore">{{ errore }}</p>
} @else {
  <div class="clienti-container">
    @for (cliente of listaClienti; track cliente.id) {
      <div class="cliente-card">
        <h3 class="nome">{{ cliente.nome }}</h3>

        <p class="info">Codice: {{ cliente.codiceCliente }}</p>

        <p class="info">Email: {{ cliente.email }}</p>

        <p class="info">Indirizzo: {{ cliente.indirizzo }}</p>
      </div>
    }
  </div>
}
