<h2>Prodotti</h2>

<button class="reload-btn" (click)="caricaProdotti()">Ricarica</button>

@if (loading) {
  <p class="loading">Sto caricando i prodotti dal server... ⏳</p>
} @else if (errore) {
  <p class="errore">{{ errore }}</p>
} @else {
  <div class="prodotti-container">
    @for (prodotto of listaProdotti; track prodotto.id) {
      <div class="prodotto-card">
        <h3 class="nome">{{ prodotto.descrizione }}</h3>

        <p class="codice">Codice: {{ prodotto.codiceArticolo }}</p>

        <p class="prezzo">{{ prodotto.prezzoUnitario }} €</p>
      </div>
    }
  </div>
}
